<manifest xmlns:android="http://schemas.android.com/apk/res/android">
 <queries><package android:name="com.android.settings" /></queries>
 <application android:label="Settings Menu Hider" android:theme="@android:style/Theme.Material.Light.NoActionBar" android:allowBackup="false" android:supportsRtl="true">
  <meta-data android:name="xposedmodule" android:value="true" />
  <meta-data android:name="xposeddescription" android:value="Hide selected homepage entries without disabling Settings pages." />
  <meta-data android:name="xposedminversion" android:value="82" />
  <meta-data android:name="xposedscope" android:resource="@array/xposed_scope" />
  <activity android:name=".MainActivity" android:exported="true"><intent-filter><action android:name="android.intent.action.MAIN" /><category android:name="android.intent.category.LAUNCHER" /></intent-filter></activity>
  <provider android:name=".ConfigProvider" android:authorities="dev.chet.settingshider.config" android:exported="true" />
 </application>
</manifest>
